<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690466063253-15en1dphda25lpvbl8h3d7vipqasrjaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690466063253-15en1dphda25lpvbl8h3d7vipqasrjaf</string>
	<key>API_KEY</key>
	<string>AIzaSyADtJggbexVVRf6Rnp8y9GgnEO5bV625MA</string>
	<key>GCM_SENDER_ID</key>
	<string>690466063253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameRandomGenerationAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>game-random-generation</string>
	<key>STORAGE_BUCKET</key>
	<string>game-random-generation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690466063253:ios:caf1de80215ede8099ec9c</string>
</dict>
</plist>