<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690466063253-jo2e73n0q4tkcnqbdh8vaptsae1q412h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690466063253-jo2e73n0q4tkcnqbdh8vaptsae1q412h</string>
	<key>API_KEY</key>
	<string>AIzaSyADtJggbexVVRf6Rnp8y9GgnEO5bV625MA</string>
	<key>GCM_SENDER_ID</key>
	<string>690466063253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameRandomGenerationAdmin</string>
	<key>PROJECT_ID</key>
	<string>game-random-generation</string>
	<key>STORAGE_BUCKET</key>
	<string>game-random-generation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690466063253:ios:d7aa72520fd6f32299ec9c</string>
</dict>
</plist>